<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{title}}</h1>

<!-- ナビゲーション実装 -->
<nav>
<a routerLink="">メインメニュー</a>
<a routerLink="/life_best_movies">人生ベスト</a>
<a routerLink="/year_best_movies">今年ベスト</a>
</nav>
<app-add-movies-button></app-add-movies-button>
<app-search-movies></app-search-movies>

<!-- ルーティングさせるにはこの要素は必ず必要 -->
<router-outlet></router-outlet>